.container
  .row
    .col-md-3
      %h2 Sign up now
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .form-group
          %div
            = f.label :first_name
            %br/
            = f.text_field :first_name, autofocus: true, class:"form-control"
        .form-group
          %div
            = f.label :last_name
            %br/
            = f.text_field :last_name, autofocus: true, class:"form-control"
        .form-group
          %div
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, class:"form-control"
        .form-group
          %div
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "off", class:"form-control"
        .form-group
          %div
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "off", class:"form-control"
        %div= f.submit "Sign up", class:"btn btn-primary"
      = render "devise/shared/links"
